## Pythonic Code

## Split

In [1]:
items = 'zero one two three'.split()

In [2]:
items

['zero', 'one', 'two', 'three']

## List Comprehension

In [3]:
result = []
for i in range(10):
    result.append(i)

In [4]:
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#list comprehension
result = [i**2 for i in range(10)]

In [10]:
result

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### filter

In [11]:
result = [i for i in range(10) if i % 2 ==0]

In [12]:
result

[0, 2, 4, 6, 8]

In [13]:
word1 = "hello"
word2 = "World"
result = [i+j for i in word1 for j in word2]

In [14]:
result

['hW',
 'ho',
 'hr',
 'hl',
 'hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [15]:
case1 = ['A', 'B', 'C']
case2 = ['D', 'E', 'A']
result = [i+j for i in case1 for j in case2]

In [16]:
result

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [17]:
result.sort()

In [18]:
result

['AA', 'AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

### Two Dimentional List

In [19]:
words = 'The quick brown fox jumps over the lazy dog'.split()

In [20]:
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
stuff = [[w.upper(), w.lower(), len(w)]for w in words]

In [25]:
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [26]:
case1 = ['A', 'B', 'C']
case2 = ['D', 'E', 'F']
result = [a+b for a in case1 for b in case2]

In [27]:
result

['AD', 'AE', 'AF', 'BD', 'BE', 'BF', 'CD', 'CE', 'CF']

In [29]:
result = [[a+b for a in case1] for b in case2]

In [30]:
result

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AF', 'BF', 'CF']]

In [33]:
result = [[a+b for a in case2] for b in case1]

In [34]:
result

[['DA', 'EA', 'FA'], ['DB', 'EB', 'FB'], ['DC', 'EC', 'FC']]

## Enumerate & zip

In [36]:
for i, v in enumerate(['tic', 'tac', 'toc']):
    print(i, v)
#리스트에 있는 값을 추출할 때 index값과 함께 unpacking 해주는 것이 enumerate이다.

0 tic
1 tac
2 toc

In [38]:
l = ['a', 'b', 'c', 'd']
list(enumerate(l))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [43]:
{i:j for i, j in enumerate('My name is kim. By the way'.split())}

{0: 'My', 1: 'name', 2: 'is', 3: 'kim.', 4: 'By', 5: 'the', 6: 'way'}

### Zip

####  두 개의 list의 값을 병렬적으로 추출함

In [44]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [45]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))

In [48]:
"""각 tuple 같은 index를 묶어 합을 list로 변환"""
[sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))]

[111, 222, 333]

In [49]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3